.header {
  background-color: transparent;
  backdrop-filter: blur(8px);
  padding: 0.75rem 1.5rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  isolation: isolate;
  overflow: hidden;
  color: white;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
  min-height: 4.5rem;
}

.pageTitle {
  font-size: 1.25rem;
  font-weight: 600;
  color: white;
  position: relative;
  z-index: 2;
}

.composer {
  font-size: 0.875rem;
  font-weight: 400;
  opacity: 0.6;
  margin-left: 0.5rem;
  color: rgba(255, 255, 255, 0.7);
}

/* Variables pour les couleurs */
:root {
  --border-color: rgb(226, 232, 240);
  --text-color: rgb(255, 255, 255);
}

.navItems {
  display: flex;
  align-items: center;
  gap: 1rem;
}
